.main-nav {
  $border-radius: 10px;

  position: relative;
  margin-top: 28px;
  display: flex;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 1px;
    right: 1px;
    bottom: 0;
    z-index: -1;
    background-color: $black;
    border-radius: $border-radius;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  }

  &-search {
    margin-right: 60px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: $yellow;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    list-style: none;

    a {
      padding: 9px 15px 9px 19px;
      display: block;
      font-size: 14px;
      line-height: 17px;
      font-weight: 700;
      color: $white;
      text-decoration: none;

      &:hover {
        background-color: $yellow;
      }
    }

    li:first-child a {
      padding-left: 26px;
      background-color: $yellow;
      color: $black;

      &:hover {
        background-color: darken($yellow, 10%);
        color: $white;
      }
    }

    li:last-child {
      margin-left: auto;
    }

    li:last-child  a {
      padding-left: 13px;
      color: $black;
      text-transform: uppercase;
      background-color: $yellow;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;

      &:hover {
        background-color: darken($yellow, 10%);
        color: $white;
      }
    }
  }
}
