.page-header {
  $contact-margin: 27px;

  padding-top: 20px;

  &-logo {
    display: inline-block;
    text-decoration: none;

    span {
      margin-top: 5px;
      display: block;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 1px;
      text-align: center;
      color: $black;
      text-transform: uppercase;
    }
  }

  &-nav {
    position: relative;
    margin-top: -4px;
    margin-bottom: 19px;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gray;
  }

  &-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

    &--col {
      display: block;
    }

    li {

      &:not(.page-header-separator) {
        margin-left: 20px;
      }

      &:first-child {
        margin-left: 0;
      }
    }

    .page-header-separator + li {
      margin-left: 0;
    }

    &--col li:not(:first-child) {
      margin-left: 0;
      margin-top: 10px;
    }

    a {
      font-size: 12px;
      line-height: 14px;
      color: $black;
      text-decoration: none;

      &:hover {
        color: rgba($black, 0.6);
      }
    }

    &--underline a {
      text-decoration: underline;
    }

    svg {
      margin-right: 8px;
      vertical-align: sub;
    }
  }

  &-separator {
    margin: 0 10px;
  }

  &-banner {
    width: 255px;
    height: 70px;
    background: $gray;
  }

  &-goods {
    margin: 0;
    margin-left: 14px;
    padding: 0;
    display: flex;
    list-style: none;

    li:not(:last-child) {
      margin-right: 12px;
    }

    a {
      padding: 10px;
      width: 72px;
      height: 100%;
      display: flex;
      align-items: center;
      border: 1px solid $gray;

      &:hover {
        border-color: darken($gray, 5%);
      }
    }

    img {
      display: block;
    }
  }

  &-time {
    margin-left: $contact-margin;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 14px;
  }

  &-tel {
    margin: 12px 0 16px $contact-margin;
    display: block;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: $black;
    text-decoration: none;

    &:hover {
      color: $gray;
    }
  }

  &-city {
    margin-left: $contact-margin;
    padding-top: 3px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 14px;
    border-top: 1px solid $gray;

    a {
      position: relative;
      color: $black;
      text-decoration: none;
      border-bottom: 1px dotted $black;

      &::before {
        content: "";
        position: absolute;
        top:4px;
        left: -14px;
        width: 0;
        height: 0;
        border-width: 4px 7px 4px 7px;
        border-style: solid;
        border-color: transparent transparent transparent $black;
      }
    }
  }
}
