<nav class="main-nav">
  <button class="main-nav-search">
    <svg width="19" height="19">
      <use xlink:href="assets/img/symbol/sprite.svg#search" />
    </svg>
  </button>
  <ul class="main-nav-list">
    <li>
      <a href="#">Перфораторы</a>
    </li>
    <li>
      <a href="#">Дрели</a>
    </li>
    <li>
      <a href="#">Шлифмашины</a>
    </li>
    <li>
      <a href="#">Пистолеты</a>
    </li>
    <li>
      <a href="#">Электропилы</a>
    </li>
    <li>
      <a href="#">Наборы инструментов</a>
    </li>
    <li>
      <a href="#">Аксессуары</a>
    </li>
    <li>
      <a href="#">Распродажа</a>
    </li>
  </ul>
</nav>
